.AboutBlockMain {
  padding: 8px;
  height: 90vh;
  overflow: scroll;
}
.AboutLine {
  width: 359px;
  margin: 0 auto;
}
.MeAvatar {
  position: relative;
  top: 43px;
}
.MeBlock {
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MeDescription {
  padding: 8px;
  width: 100%;
  height: 158px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.QrCodeBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.MeStatsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MeStat {
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MeName {
  font-size: 24px;
  color: #f1f1f1;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 3px;
}
.MeProfileInfo {
  font-size: 14px;
  color: #999999;
  margin-bottom: 21px;
}
.MeStatNumber {
  font-size: 14px;
  color: #f1f1f1;
}
.MeStatText {
  font-size: 14px;
  color: #999999;
}

.SocialBlock {
  width: 365px;
  margin-top: 32px;
  margin-bottom: 14px;
}
.SocialImage {
  width: 27px;
  height: 27px;
}
.SocialInfoBlock {
  width: 78.88px;
  height: 54px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #242424;
  border-radius: 10px;
}

.SocialInfoText {
  color: #04bfbf;
  font-weight: bold;
  font-size: 8px;
  text-align: center;
}

.VideoList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.VideoBlock {
  width: 359px;
  height: 31px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 6px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.gridItem {
  width: 119px;
  height: 150px;
  background-color: #f0f0f0; /* Белый цвет */
  position: relative;
}

.gridItemContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
}

.ModalBlock {
  outline: none;
  width: 300px;
  height: 340px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: black; /* Fallback to white if --background-paper is not defined */
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75); /* Adjust box-shadow as needed */
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.QrText {
  font-size: 24px;
  font-weight: bold;
}
.QrCodeBlockImage {
  border-radius: 10px;
  background-color: #242424;
  width: 224px;
  height: 224px;
}
.LinkBlock {
  height: 36px;
  width: 260px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RefLinkForBot {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.RefLinkForBot:active {
  color: #04bfbf;
}
