.MainContainer{
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #141414;
}

.Navigation {
  position: fixed;
  bottom: 0;
  background-color: #141414;
  height: 74px;
  width: 100%;
}
.Navigation_Limit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  margin: 0 auto;
}
.Navigation_Flex {
  padding-top: 2px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.Flex_Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Navigation_Text {
  color: white;
  font-size: 11px;
}
.Navigation_Text_Clicked {
  color: #04bfbf;
  font-size: 11px;
}

.OutletContainer {
  width: 100%;
}
