button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.home_container {
    display: flex;
    margin: 0 auto;
    height: calc(100vh - 74px);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.video_player_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.video_player {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100%;
    z-index: 1;
}

.overlay_top {
    z-index: 2;
    position: absolute;
    top: 2.2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_top_content {
    display: flex;
    flex-direction: row;
}

.overlay_top_content_selection {
    display: flex;
    gap: 10px;
}

.mute_btn {
    margin-left: 10px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-40%);
}
.mute_btn img {
    width: 24px;
    height: 24px;
}

.overlay_right {
    z-index: 2;
    position: absolute;
    top: 44vh;
    right: 11px;
}

.overlay_right_content {
    display: flex;
    flex-direction: column;
}

.right_btns_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 16px;
}

.overlay_right_avatar_sub_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04BFBF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
